$body-font-family: 'Montserrat';
$title-font: 'Montserrat';
$primary: #649ccb;
$secondary: #25E2AA;
$accent: #8c9eff;
$error: #b71c1c;
$base: #0C2366;
$mainDarkBlue: #0C2366;
$mainLightGrey: #F5F5F5;
$darkThemePrimaryGray: #1E1E1E;
$darkThemeSecondaryGray: #272727;
$darkThemeThirdGray: #363636;
